
.main .booking .form-booking .nav-tab {
    display: none;
}

.main .booking .form-booking .tab-contents .name h3 {
    font-weight: 300;
}

.main .booking .form-booking .tab-contents .between .tab-between h4 {
    font-weight: normal;
    font-size: 18px;
}

.main .booking .form-booking .tab-contents .name {
    background: #1ba8ff;
}

.main .booking .form-booking .tab-contents .between {
    border: 2px solid #1ba8ff;
    border-top: 0;
}

.main .booking .form-booking .hotel.tab-contents .between .tab-content-between .item-input .gr {
    width: 35%;
}

.main .booking .form-booking .tab-contents .between .tab-content-between .item-input .gr.selectNumbRoom {
    width: 70%;
}

.main .booking .form-booking .tab-contents .between .tab-content-between .item-input .gr .form-text {
    border: 1px solid #c7c7c7;
}

.gr.selectNumbRoom .selectRoom {
    border: 1px solid #c7c7c7;
    text-align: left;
    padding: 5px 10px;
    border-radius: 4px
}

.main .booking .form-booking .tab-contents .between .tab-content-between .btn-search .button-search {
    background: #ff424e;
    font-size: 15px;
    border-radius: 4px;
    padding: 9px 30px;
}

.main .booking .form-booking .tab-contents .between .tab-content-between .btn-search .button-search:hover {
    background: #1ba8ff;
}

.main .booking .form-booking .tab-contents .between .tab-content-between .item-input .gr .form-text {
    padding: 5px 40px 5px 10px;
}

.main .booking .form-booking .tab-contents .between .tab-content-between .item-input .gr .date-from::before {
    display: none;
}

.main .booking .form-booking .tab-contents .between .tab-content-between .item-input .gr .date-of::before {
    display: none;
}

.main .booking .form-booking .tab-contents .between .tab-content-between .item-input .gr .date-from::after {
    content: "\f073";
    position: absolute;
    font: normal normal normal 14px/1 FontAwesome;
    right: 10px;
    top: 10px;
}

.main .booking .form-booking .tab-contents .between .tab-content-between .item-input .gr .date-of::after {
    content: "\f073";
    position: absolute;
    font: normal normal normal 14px/1 FontAwesome;
    right: 10px;
    top: 10px;
}

.popupSelectRoom .listRoom .groupRoom .RoomNb, .popupSelectRoom2 .listRoom .groupRoom .RoomNb {
    font-weight: normal;
}

.popupSelectRoom .listRoom .groupRoom .item, .popupSelectRoom2 .listRoom .groupRoom .item {
    background: transparent;
}

.popupSelectRoom .listRoom .groupRoom .item, .popupSelectRoom2 .listRoom .groupRoom .item {
    padding: 10px 0;
}

.main .booking .form-booking .tab-contents .between .tab-content-between .item {
    margin-bottom: 0;
}

.popupSelectRoom .listRoom .groupRoom .item .typePP label, .popupSelectRoom2 .listRoom .groupRoom .item .typePP label {
    padding: 5px 0 0;
    width: 80px;
}

.popupSelectRoom .listRoom .groupRoom .item .typePP select, .popupSelectRoom2 .listRoom .groupRoom .item .typePP select {
    width: 74%;
    height: 32px;
}

.popupSelectRoom .btnAddRooms, .popupSelectRoom2 .btnAddRooms {
    font-weight: normal;
    color: #1ba8ff;
}

.popupSelectRoom .btnAddRooms:after, .popupSelectRoom2 .btnAddRooms:after {
    display: none   ;
}

.addroomParent {
    display: block;
}

.popupSelectRoom .btnSubmit, .popupSelectRoom2 .btnSubmit2 {
    float: none;
    width: 154px;
    border-radius: 0;
    background: #ff424e;
    text-align: center;
    margin-top: 10px;
    display: inline-block;
}

.popupSelectRoom .btnSubmit:hover, .popupSelectRoom2 .btnSubmit2:hover {
    background: #1ba8ff;
}

.popupSelectRoom .listRoom .groupRoom, .popupSelectRoom2 .listRoom .groupRoom {
    margin-bottom: 0;
}

.main .booking .form-booking .tab-contents.hotel .between .tab-content-between .item-airport .airport {
    margin-bottom: 15px;
}

.main .booking .form-booking .tab-contents .form-control::focus {
    border-color: #1ba8ff;
}

.ui-menu .ui-menu-item a:hover, .ui-menu .ui-menu-item a:visited, .ui-menu .ui-menu-item a:focus, .ui-menu .ui-menu-item a:active {
    background: #1ba8ff !important;
}

.ui-datepicker td a:hover {
    background: #1ba8ff;
}



/* Search result */
.main .subheader .formInput .group label {
    text-transform: capitalize;
}

.main .subheader .formInput .group input.form-text {
    border-radius: 3px;
}

.main .subheader .formInput .group.name_hotel input.form-text {
    width: 290px;
}

.main .subheader .formInput .group.name_hotel {
    padding-right: 10px;
}

.main .subheader .formInput .group.date input.form-text {
    width: 160px;
}

.main .subheader .formInput .group.btnSubmit #btnSearchHotel::before {
    display: none;
}

.main .subheader .formInput .group.btnSubmit #btnSearchHotel {
    background: #1ba8ff;
    width: 150px;
}

.main .subheader .formInput .group.btnSubmit #btnSearchHotel:hover {
    background: #ff424e;
}

.main .betweenSearch .sidebar {
    background: #fff;
    padding: 15px;
}

.main .betweenSearch .rightSearch::before {
    display: none;
}

.main .betweenSearch .mainSearch .heading {
    background: #fff;
    margin-bottom: 0;
    padding: 25px 15px 20px;
    border-radius: 4px
}

.main .betweenSearch .mainSearch .heading .line1 h1 {
    font-weight: 300;
}

.main .betweenSearch .mainSearch .heading .line1 h2 {
    font-size: 13px;
}

.main .betweenSearch .mainSearch .heading .btnViewMap {
    top: 25px;
    right: 20px;
    border: 1px solid #1ba8ff;
    color: #1ba8ff;
    background: #fff;
    border-radius: 4px;
}

.main .betweenSearch .mainSearch .heading .btnViewMap:hover {
    background: #fff;
    border-color: #ff424e;
    color: #ff424e;
}

.main .betweenSearch .mainSearch .heading .btnViewMap:before {
    background-color: #fff;
    width: auto;
    height: auto;
    position: static;
}

.main .betweenSearch .mainSearch .filterSearch .pull-right {
    float: left !important;
    background: #fff;
    width: 100%;
}

.main .betweenSearch .mainSearch .filterSearch .listFilter ul {
    margin: 0 0 25px 8px;
}

.main .betweenSearch .mainSearch .filterSearch .listFilter ul li {
    margin: 0 8px;
    border: 1px solid #c7c7c7;
    border-radius: 3px;
    min-width: 160px
}

.main .betweenSearch .mainSearch .listHotel .hotelActive {
    border: none;
}

.main .betweenSearch .mainSearch .listHotel .item .detail .leftDetail .info span red {
    color: #26bc4e;
}

.listHotel .item .detail .rightDetail .priceR .nPromotion {
    font-weight: 300;
    font-size: 13px;
    border-radius: 3px;
    padding: 4px 15px;
}

.main .betweenSearch .mainSearch .listHotel .item .detail .rightDetail .priceR span.price0ld price {
    color: #999;
    font-size: 15px;
    font-weight: normal;
}

.main .betweenSearch .mainSearch .listHotel .item .detail .rightDetail .priceR span price {
    font-weight: normal;
    font-size: 20px;
    color: #ff424e;
}

.main .betweenSearch .mainSearch .listHotel .item .detail .rightDetail .priceR span {
    margin: 5px 0;
}


.main .betweenSearch .mainSearch .listHotel .item .detail .rightDetail .priceR .btnSetRoom {
    background: #ff424e;
    text-transform: capitalize;
    padding: 0 20px;
}

.main .betweenSearch .mainSearch .listHotel .item .detail .rightDetail .priceR .btnSetRoom:hover {
    background: #1ba8ff;
}

.main .betweenSearch .mainSearch .listHotel .item .detail .leftDetail {
    border-right: none;
}

.main .betweenSearch .mainSearch .listHotel .hotelActive::after {
    font-weight: normal ;
}

.main .betweenSearch .mainSearch .listHotel .item .detail .leftDetail .info .numbRoom {
    font-weight: normal;
    color: #ff424e;
}

.ratingView .starWidth:before {
    color: #ffca28;
}

.formFilter .ratingView:before {
    color: #ffca28;
}

.main .betweenSearch .sidebar .groupS .heading.headingTop .leftHD {
    font-weight: normal;
}

.main .betweenSearch .sidebar .groupS .heading {
    font-size: 13px;
}

.main .betweenSearch .sidebar .groupS:last-child {
    border-bottom: none;
}

.main .betweenSearch .mainSearch .heading .line1 span {
    color: #787878;
    font-size: 22px;
    font-weight: 300;
}

.main .betweenSearch .mainSearch .heading .line1 span strong {
    font-weight: 300;
}


/* Hotel Detail */
.main .betweenDetail .heading .container {
    background: #fff;
    max-width: 1110px;
    padding: 10px 15px 15px;
    border-radius: 4px;
}

.main .betweenDetail .heading {
    margin-bottom: 15px;
}

.main .betweenDetail .heading .leftHeading {
    margin-top: 15px;
}

.main .betweenDetail .heading .leftHeading h1 {
    font-weight: 300
}

.main .betweenDetail .heading .leftHeading h2 {
    text-decoration: none;
    font-weight: 300;
    font-size: 13px
}

.main .betweenDetail .heading .rightHeading .priceR span {
    margin: 5px 0;
}

.main .betweenDetail .heading .rightHeading .priceR span price {
    color: #ff424e;
    font-size: 20px;
    font-weight: normal;
}

.main .betweenDetail .heading .rightHeading .priceR .btnSetRoom {
    background: #ff424e;
    padding: 0 20px;
}

.main .betweenDetail .heading .rightHeading .priceR .btnSetRoom:hover {
    background: #1ba8ff;
}

.lSSlideOuter .lSPager.lSGallery li.active, .lSSlideOuter .lSPager.lSGallery li:hover {
    border: 2px solid #1ba8ff;
}

.main .betweenDetail .subheader2 .formInput .group label {
    color: #242424;
    text-transform: capitalize;
}

.main .betweenDetail .subheader2 .formInput .group {
    width: 210px;
}

.main .betweenDetail .subheader2 .formInput .group.date input.form-text {
    width: 190px;
    border-radius: 3px;
    border: 1px solid #c7c7c7;
}

.main .subheader2 .formInput .group.customInput .gr.selectNumbRoom .selectRoom {
    border: 1px solid #c7c7c7;
}

.main .betweenDetail .subheader2 .formInput .group.btnSubmit {
    margin: 0;
    top: auto;
    bottom: 20px;
    width: auto;
}

.main .betweenDetail .subheader2 .formInput .group.btnSubmit #btnSubmitSearchRoom {
    background: #1ba8ff;
}

.main .betweenDetail .subheader2 .formInput .group.btnSubmit #btnSubmitSearchRoom:hover {
    background: #ff424e;
}

.main .betweenDetail .roomType .GroupRoomType .room_table .DetailRoom table.headingTb tr:first-child {
    background: #f4f4f4;
}

.main .betweenDetail .roomType .GroupRoomType .room_table .DetailRoom table.headingTb th {
    font-weight: bold;
}

.DetailRoom table.headingTb th, .DetailRoom table.headingTb td {
    border: none;
}

.infoRoomDetail .detailRoom .nameRoom {
    font-size: 15px;
    color: #242424;
    margin-bottom: 8px;
}

.infoRoomDetail .detailRoom .firstTY:before {
    background: #787878;
}

.infoRoomDetail .detailRoom .firstTY strong {
    background: #787878;
    font-size: 13px;
    padding: 2px 15px;
    border-radius: 3px;
}

.infoRoomDetail .detailRoom ul li {
    font-size: 13px;
}

.viewDetailBtn .btnView span {
    color: #4a4a4a;
}

.DetailRoom .priceR .nPromotion {
    display: none;
}

.DetailRoom .priceR .priceOld {
    display: none;
}

.DetailRoom .priceR span price {
    color: #ff424e;
    font-size: 20px;
    font-weight: normal;
}

.DetailRoom .priceR .btnSetRoom {
    background: #ff424e;
    font-size: 13px;
}

.DetailRoom .priceR .btnSetRoom:hover {
    background: #1ba8ff;
}

.DetailRoom .priceR .numbRoomActive {
    color: #ff424e;
    font-size: 13px;
    font-weight: normal;
}

.listRoomHotel {
    border-bottom: 2px solid #f8f8f8;
}

.viewAllPicture {
    text-decoration: none;
    padding: 0;
    margin: 5px 0 0;
}

.notePayment {
    color: #242424;
}

.notePayment strong {
    font-weight: normal;
}

.main .betweenDetail .roomType .GroupRoomType .room_table .DetailRoom table.headingTb th:nth-child(2) {
    text-align: left;
}

.main .betweenDetail .roomType .GroupRoomType .room_table .DetailRoom table.headingTb th:nth-child(3) {
    text-align: right;
}

.main .betweenDetail .roomType .infoHotel .hdInfo {
    font-weight: normal;
    border-bottom: none;
    padding-bottom: 10px;
}

.main .betweenDetail .roomType .infoHotel .hdInfo h3 {
    font-size: 18px;
    margin: 0;
}

.main .betweenDetail .roomType .infoHotel .GroupInfo {
    background: #fff;
    border-bottom: 2px solid #f8f8f8;
    padding: 15px;
}

.viewDetailBtn .btnView > .detail {
    border: none;
    padding: 15px;
    font-size: 13px;
    min-width: 360px;
}

.viewDetailBtn .detail:before {
    color: #1ba8ff;
    display: none;
}

.viewDetailBtn .detail:after {
    box-shadow: -1px -1px 1px 0 #ddd;
}

.ratingViewImg {
    display: none;
}

.popupFormPrice {
    box-shadow: 0 1px 5px 0 rgba(99, 99, 99, 0.5);
    border-radius: 4px;
    border: none;
    padding: 15px;
    right: 105px;
}

.popupFormPrice:before {
    position: absolute;
    right: -9px;
    transform: rotate(45deg);
    top: 12px;
    color: #fff;
    width: 15px;
    height: 15px;
    box-shadow: 1px -1px 0px 0 #ddd;
    background: #fff;
}


/* Thông tin khách hàng */
.main .steps .listSteps .step span {
    background: #1ba8ff;
    width: 26px;
    height: 26px;
    font-size: 15px;
    padding: 2px;
    border: none;
}

.main .steps {
    background: #fff;
    padding: 30px 0 15px;
    margin-bottom: 20px;
}

.main .steps .listSteps .step step {
    color: #1ba8ff;
    font-size: 13px;
    text-transform: capitalize;
    top: -23px;
}

.main .steps .listSteps .step:before {
    background: #1ba8ff;
    left: -20px;
}

.main .steps .listSteps .step:after {
    background: #1ba8ff;
    right: -20px;
}

.main .receiptDT {
    background: #fff;
    border-radius: 4px;
    padding: 25px 15px;
}

.main .receiptDT .detailInfo h1 {
    font-weight: 300;
}

.main .receiptDT .detailInfo h2 {
    text-decoration: none;
    font-size: 13px;
}

.main .receiptDT .groupIf {
    overflow: hidden;
}

.main .receiptDT .groupIf .thumbnail {
    min-height: 120px;
    margin-right: 15px;
}

.main .mainInfo .sidebar .groupSd h3 {
    font-size: 15px;
    border-bottom: 1px solid #ececec;
    padding-bottom: 10px;
}

.main .mainInfo .sidebar .groupSd .line {
    padding-bottom: 0;
}

.main .mainInfo .sidebar .groupSd .line:last-child {
    border-bottom: none;
}

.main .mainInfo .sidebar .groupSd .line .form-group {
    margin-bottom: 10px;
}

.main .mainInfo .sidebar .groupSd .line .form-group .pull-left {
    font-weight: 300;
    font-size: 13px;
}

.main .mainInfo .sidebar .groupSd .line .form-group .pull-right strong {
    font-weight: normal;
}

.main .mainInfo .sidebar .groupSd .line .form-group .priceSd price {
    color: #ff424e;
    font-size: 20px;
    font-weight: normal;
}

.main .mainInfo .sidebar .groupSd .viewDetail {
    color: #1ba8ff;
    text-align: center;
}

.main .mainInfo .sidebar .groupSd .viewDetail span {
    font-style: normal;
}

.main .mainInfo .betweenInfo .infoUser {
    border: 1px solid #1ba8ff;
    border-radius: 4px;
    background: #f2fbfe;
}

.main .mainInfo .betweenInfo .infoUser .username {
    color: #1ba8ff;
    font-size: 13px;
}

#popupPolicies.alert-warning {
    background: #fff;
    color: #333;
    font-size: 13px;
}

#dismissableInfo {
    border: 1px solid #1ba8ff;
    background: #f2fbfe;
    color: #1ba8ff;
    font-size: 13px;
}

.tooltipPolicy:before {
    color: #1ba8ff;
}

.main .mainInfo .betweenInfo .roomInfo {
    background: transparent;
    padding: 0;
}

.main .mainInfo .betweenInfo .roomInfo .heading h3 {
    font-size: 18px;
    color: #787878;
}

.main .mainInfo .betweenInfo .roomInfo .heading h3 span {
    font-size: 18px;
}

.main .mainInfo .betweenInfo .roomInfo .groupPb.showInputPp {
    background: #fff;
    padding: 15px;
    border-radius: 4px;
}

.main .mainInfo .betweenInfo .roomInfo .titleP {
    font-size: 11px;
    color: #4a4a4a;
    display: block;
    float: none;
}

.main .mainInfo .betweenInfo .roomInfo .lineForm {
    display: inline-block;
    width: 490px;
}

.chonlienhe {
    width: 210px;
    vertical-align: top;
    margin-top: 35px;
    float: right;
}

.chonlienhe .fa {
    color: #1ba8ff;
}

.main .mainInfo .betweenInfo .roomInfo .lineForm .groupInput {
    margin-bottom: 0;
    width: 50%;
}

.main .mainInfo .betweenInfo .roomInfo .lineForm .groupInput .form-text {
    width: 100%;
    border-radius: 3px;
    border: 1px solid #c7c7c7;
}


.main .mainInfo .betweenInfo .roomInfo .lineForm .groupInput span {
    display: none;
}

.main .mainInfo .betweenInfo .roomInfo .lineForm .groupInput label {
    margin-bottom: 8px;
}

.main .mainInfo .betweenInfo .roomInfo .groupPb {
    background: #fff;
    padding: 15px 15px 0;
    border-radius: 4px;
}

.main .mainInfo .betweenInfo .roomInfo.contactForm .lineForm .groupInput .form-text.form-text-custom-contact {
    width: 100%;
}



#contactInfo .groupInput {
    margin-bottom: 25px;
}

.main .mainInfo .betweenInfo .roomInfo .lineForm .groupInput .form-text:focus {
    border: 1px solid #1ba8ff;
}

.main .mainInfo .betweenInfo .roomInfo.invoice .heading {
    background: #fff;
    padding: 15px;
    border-radius: 4px;
}

.main .mainInfo .betweenInfo .roomInfo.invoice .heading:before {
    color: #242424;
    top: 18px;
}

.main .mainInfo .betweenInfo .roomInfo.invoice .btnDropdown {
    display: none;
}

.main .mainInfo .betweenInfo .roomInfo.invoice .mheading {
    font-weight: normal;
}

.main .mainInfo .betweenInfo .roomInfo.invoice .mheading .pull-right {
    float: none;
}

.main .mainInfo .betweenInfo .roomInfo.invoice .lineForm {
    margin-bottom: 20px;
}

.main .mainInfo .betweenInfo .roomInfo.invoice .lineForm .groupInput .form-text {
    border: 1px solid #c7c7c7;
}

.selectContactInvoice {
    margin-left: 120px;
}

.selectContactInvoice .fa {
    color: #1ba8ff;
}

.main .mainInfo .betweenInfo .roomInfo.invoice .lineForm .groupInput label {
    margin-top: 5px;
}

.contentRequirement ul {
    background: #fff;
    padding: 15px;
}

.contentRequirement ul li {
    font-size: 13px;
}

.contentRequirement ul li a {
    color: #242424 !important;
    font-weight: normal !important;
}

.contentRequirement ul li:before {
    content: "";
    top: 7px;
    background: #f98015;
    width: 6px;
    height: 6px;
    border-radius: 50%;
}

.main .mainInfo .sidebar .groupSd .groupSd-s .line .greenb {
    color: #1ba8ff;
}

.main .mainInfo .sidebar .groupSd .groupSd-s:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

.main .mainInfo .bottomBetween .pull-right {
    float: none;
}

.main .mainInfo .bottomBetween .btnSubmit {
    padding: 8px 100px;
    background: #ff424e;
}

.main .mainInfo .bottomBetween .btnSubmit:hover {
    background: #1ba8ff;
}

/* Responsive */
@media screen and (max-width: 769px) {
    .main .booking .form-booking .tab-contents .between .tab-between h4 {
        margin-bottom: 20px;
    }

    .main .booking .form-booking .hotel.tab-contents .between .tab-content-between .item-input .gr {
        width: 100%;
    }

    .main .booking .form-booking .tab-contents .between .tab-content-between .item-input .gr.selectNumbRoom {
        width: 100%;
    }

    .popupSelectRoom, .popupSelectRoom2 {
        position: absolute !important;
    }

    .main .booking .form-booking .tab-contents.hotel .between .tab-content-between label {
        display: block;
        width: 100%;
        font-weight: normal;
    }

    .popupSelectRoom .listRoom .groupRoom .item .typePP select, .popupSelectRoom2 .listRoom .groupRoom .item .typePP select {
        width: 100%;
    }

    .popupSelectRoom .listRoom .groupRoom .RoomNb, .popupSelectRoom2 .listRoom .groupRoom .RoomNb {
        margin-bottom: 0;
    }

    .popupSelectRoom .btnAddRooms, .popupSelectRoom2 .btnAddRooms {
        padding: 0;
    }

    .popupSelectRoom .listRoom .groupRoom .selectNumbChild, .popupSelectRoom2 .listRoom .groupRoom .selectNumbChild {
        overflow: hidden;
    }

    .popupSelectRoom .btnSubmit, .popupSelectRoom2 .btnSubmit2 {
        border-radius: 4px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
    }

    .addroomParent {
        font-size: 14px;
    }

    .main .booking .form-booking .tab-contents .between .tab-content-between .btn-search {
        text-align: left;
    }

    .main .booking .form-booking .tab-contents .between .tab-content-between .btn-search .button-search {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
        padding: 6px 20px;
    }

    .main .headingResponsive {
        background: #fff;
        padding: 10px 0;
        width: 100%;
        position: fixed;
        bottom: 0;
        z-index:999;
        box-shadow: 3px 3px 3px 3px #999;
    }
    
    .go-top {
        background: #1ba8ff;
        border-radius: 50%;
        bottom: 60px;
    }
    
    .go-top::before {
        content: "\f106";
    }
    
    .main .headingResponsive .btnChange.btnReSearch {
        background: transparent;
        color: rgba(0, 0, 0, 0.54);
        font-weight: normal;
        border-left: 1px solid #f2f2f2;
        border-right: 1px solid #f2f2f2;
        font-size: 14px;
        padding: 5px 15px;
    }
    
    .main .headingResponsive .btnChange.btnReSearch::before {
        content: "\f0ec";
        font-family: FontAwesome;
        font-weight: bold;
        display: inline-block;
        margin-right: 5px;
    }

    .main .headingResponsive .btnChange.btnReSearch:hover {
        background: transparent;
    }
    
    .main .headingResponsive .btnChange.btnBoloc {
        background: transparent;
        color: rgba(0, 0, 0, 0.54);
        font-weight: normal;
        font-size: 14px;
    }

    .main .headingResponsive .btnChange.btnBoloc::before {
        content: "\f0b0";
        font-family: FontAwesome;
        font-size: 14px;
        display: inline-block;
        margin-right: 5px;
    }

    .main .headingResponsive .btnChange.btnBoloc:hover {
        background: transparent;
    }
    
    .main .betweenSearch .mainSearch .heading {
        background: transparent;
        padding: 15px 0;
    }
    
    .main .betweenSearch .mainSearch .heading .line1 span {
        font-size: 14px;
    }
    
    .main .betweenSearch .mainSearch .heading .line1 h1 {
        font-weight: normal;
        font-size: 14px;
    }
    
    .main .betweenSearch .mainSearch .heading .line1 span {
        color: rgba(0, 0, 0, 0.87);
        font-weight: normal;
    }
    
    .main .betweenSearch .mainSearch .heading .btnViewMap {
        display: none;
    }
    
    .main .betweenSearch .mainSearch .filterSearch .pull-right {
        background: transparent;
    }
    
    .main .betweenSearch .mainSearch .filterSearch {
        margin-bottom: 20px;
    }
    
    .main .betweenSearch .mainSearch .filterSearch .listFilter ul {
        display: flex;
        margin: 0;
        width: 100%;
    }
    
    .main .betweenSearch .mainSearch .filterSearch .listFilter ul li {
        margin: 0;
        width: 33%;
        min-width: 0;
        padding: 5px 0;
        border-radius: 0;
        border: none;
        box-shadow: inset -1px 0 0 0 #f2f2f2;;
    }
    
    .main .betweenSearch .mainSearch .filterSearch .listFilter ul li.active {
        background: #1ba8ff;
        color: #fff;
    }
    
    .main .betweenSearch .mainSearch .listHotel .item .detail .rightDetail .priceR .btnSetRoom {
        display: none;
    }
    
    .main .betweenSearch .mainSearch .listHotel .item {
        padding: 12px;
        box-shadow: inset 0 -1px 0 0 #f2f2f2;
        border-radius: 0;
    }
    
    .main .betweenSearch .mainSearch .listHotel .item .thumbnail #getHotelCode {
        border-radius: 0;
    }
    
    .main .betweenSearch .mainSearch .listHotel .item .detail .leftDetail .location {
        font-size: 11px;
    }
    
    .main .betweenSearch .mainSearch .listHotel .item .detail .leftDetail .info span {
        font-size: 11px;
    }
    
    .main .betweenSearch .mainSearch .listHotel .item .detail .rightDetail .priceR .priceOld {
        display: none;
    }
    
    .main .betweenSearch .mainSearch .listHotel .item .detail .rightDetail .priceR span price {
        font-size: 16px;
    }

    .main .subheader .formInput .group.name_hotel input.form-text,
    .main .subheader .formInput .group.customInput,
    .main .subheader .formInput .group.date input.form-text {
        width: 100%;
    }

    .main .headingResponsive {
        background: #fff;
        padding: 10px 0;
        width: 100%;
        position: fixed;
        bottom: 0;
        z-index:999;
        box-shadow: 3px 3px 3px 3px #999;
        text-align: center;
    }

    .go-top {
        background: #1ba8ff;
        border-radius: 50%;
        bottom: 60px;
    }
    
    .go-top::before {
        content: "\f106";
    }
    
    .main .headingResponsive .btnChange.btnReSearch {
        background: transparent;
        color: rgba(0, 0, 0, 0.54);
        font-weight: normal;
        font-size: 14px;
        padding: 5px 15px;
        float: none;
    }
    
    .main .headingResponsive .btnChange.btnReSearch::before {
        content: "\f0ec";
        font-family: FontAwesome;
        font-weight: bold;
        display: inline-block;
        margin-right: 5px;
    }

    .main .betweenDetail .subheader2 .formInput .group.btnSubmit::before {
        content: "\f002";
        font: normal normal normal 20px/1 FontAwesome;
        display: inline-block;
        position: absolute;
        left: 40%;
        top: 50%;
        transform: translate(0%, -50%);
        color: #fff;
    }

    .main .betweenDetail .subheader2 .formInput .group.customInput {
        width: 100%;
    }

    .main .betweenDetail .tabbar {
        display: none;
    }

    .main .betweenDetail .heading .leftHeading span {
        display: none;
    }
    
    .main .betweenDetail .heading .leftHeading h1 {
        font-weight: normal;
    }
    
    .main .betweenDetail .heading .leftHeading h2 {
        font-size: 11px;
    }
    
    .main .betweenDetail .heading .pull-right {
        width: 100%;
    }
    
    .main .betweenDetail .heading .rightHeading {
        text-align: left;
    }
    
    .main .betweenDetail .heading .rightHeading .priceR span price {
        font-size: 16px;
    }
    
    .main .betweenDetail .heading .rightHeading .priceR .btnSetRoom {
        float: right;
        padding: 2px 20px;
    }
    
    .main .betweenDetail .subheader2 .formInput .group {
        width: 100%;
    }
    
    .main .betweenDetail .subheader2 .formInput .group.date input.form-text {
        width: 100%;
    }
    
    .main .betweenDetail .subheader2 .formInput .group.btnSubmit {
        width: 100%;
        bottom: 0;
        position: relative;
    }


    .main .betweenDetail .subheader2 .formInput .group.btnSubmit #btnSubmitSearchRoom {
        background: #ff424e;
        width: 100%;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
    }
    
    .main .betweenDetail .roomType .GroupRoomType .room_table .DetailRoom table.headingTb th:first-child {
        background: #f2f2f2;
    }
    
    .DetailRoom table.headingTb th, .DetailRoom table.headingTb td {
        background: #fff;
    }
    
    .infoRoomDetail .detailRoom .nameRoom {
        font-weight: normal;
        font-size: 14px;
    }

    .mobilePrice price {
        color: #ff424e;
        font-weight: normal;
    }

    .viewDetailBtn .btnView > .detail {
        min-width: 260px;
    }

    .viewDetailBtn .btnView span {
        color: #1ba8ff;
    }

    #roomTypeG .DetailRoom .btnSetRoom {
        background: #ff424e;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
    }

    .infoRoomDetail .mobilePrice .priceOld,
    .infoRoomDetail .mobilePrice .priceOld price {
        color: rgba(0, 0, 0, 0.38);
    }

    .main .betweenDetail .roomType .infoHotel .GroupInfo .desInfo ul {
        list-style: none;
        padding: 0;
    }

    .main .betweenDetail .roomType .infoHotel .GroupInfo .desInfo ul li {
        position: relative;
        padding-left: 20px;
    }

    .main .betweenDetail .roomType .infoHotel .GroupInfo .desInfo ul li:before {
        content: "";
        background: #f98015;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        left: 0;
        top: 10px;
    }

    .main .betweenDetail .roomType .infoHotel .hdInfo {
        background: #f2f2f2;
        padding: 10px;
    }

    .main .betweenDetail .roomType .infoHotel .hdInfo h3 {
        font-size: 15px;
    }

    .main .receiptDT {
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.24), 0 0 1px 0 rgba(0, 0, 0, 0.12);
    }

    .main .receiptDT .groupIf .thumbnail {
        max-width: 90px;
        min-height: 64px;
    }

    .main .receiptDT .detailInfo {
        margin-left: 100px;
        min-height: 60px;
        margin-bottom: 20px;
    }

    .main .receiptDT .detailInfo h1 {
        font-weight: normal;
        font-size: 14px;
    }

    .ratingView {
        display: none;
    }

    .main .receiptDT .detailInfo h2 {
        color: #787878;
        font-size: 11px;
    }

    .main .receiptDT .groupIf .info table tr td {
        border: 1px solid #f2f2f2;
        padding: 15px;
    }

    .main .receiptDT .groupIf .info span {
        font-weight: normal;
    }

    .main .mainInfo .betweenInfo .roomInfo .lineForm {
        width: 100%;
    }

    .infoUser .username .fa {
        margin-right: 10px;
    }

    .main .mainInfo .betweenInfo .roomInfo {
        background: #fff;
    }

    .main .mainInfo .betweenInfo .roomInfo .heading {
        background: #eee;
        padding: 10px;
    }

    .main .mainInfo .betweenInfo .roomInfo .heading h3 {
        color: rgba(0, 0, 0, 0.87);
        font-size: 10px;
        margin-bottom: 0;
        text-transform: uppercase;
        font-weight: bold;
    }

    .main .mainInfo .betweenInfo .roomInfo .heading h3 span {
        font-size: 10px;
    }

    .main .mainInfo .betweenInfo .roomInfo .lineForm .groupInput {
        width: 100%;
        margin-bottom: 20px;
    }

    .main .mainInfo .betweenInfo .roomInfo .lineForm .groupInput .form-text {
        height: 32px;
    }

    .chonlienhe {
        float: none;
        margin-top: 0;
    }

    .main .mainInfo .betweenInfo .roomInfo.invoice .mheading {
        margin-top: 0;
    }

    .main .mainInfo .betweenInfo .roomInfo.invoice .mheading .pull-left {
        font-weight: bold;
    }

    .selectContactInvoice {
        margin: 10px 0 0;
    }

    .thxhdL, .thxhdR {
        margin: 0 0 5px;
    }

    .main .mainInfo .betweenInfo .roomInfo.invoice .lineForm .groupInput label {
        width: auto;
        display: block;
    }

    .main .mainInfo .betweenInfo .roomInfo.invoice .lineForm .groupInput .form-text-custom-contact {
        width: 100% !important;
    }

    .main .mainInfo .betweenInfo .roomInfo.invoice .lineForm {
        margin-bottom: 0;
    }

    .main .mainInfo .bottomBetween {
        text-align: center;
    }

    .main .mainInfo .betweenInfo .roomInfo.invoice .heading:before {
        top: 14px;
    }
}