/* Thông tin khách hàng */
.main .home-title {
    display: none;
}

.steps .step span {
    background: #1ba8ff;
    width: 26px;
    height: 26px;
    font-size: 15px;
    padding: 2px;
    border: none;
}

.main .steps {
    background: #fff;
    padding: 30px 0 15px;
    margin-bottom: 20px;
}

.steps .step step {
    color: #1ba8ff;
    font-size: 13px;
    text-transform: capitalize;
    top: -23px;
}

.steps .step:before {
    background: #1ba8ff;
    left: -20px;
}

.steps .step:after{
    background: #1ba8ff;
    right: -20px;
}

.main .receiptDT {
    background: #fff;
    border-radius: 4px;
    padding: 25px 15px;
}

.main .receiptDT .detailInfo h1 {
    font-weight: 300;
}

.main .receiptDT .detailInfo h2 {
    text-decoration: none;
    font-size: 13px;
}

.main .receiptDT .groupIf {
    overflow: hidden;
}

.main .receiptDT .groupIf .thumbnail {
    min-height: 120px;
    margin-right: 15px;
}

.main .mainInfo .sidebar .groupSd h3 {
    font-size: 15px;
    border-bottom: 1px solid #ececec;
    padding-bottom: 10px;
}

.main .mainInfo .sidebar .groupSd .line {
    padding-bottom: 0;
}

.main .mainInfo .sidebar .groupSd .line:last-child {
    border-bottom: none;
}

.main .mainInfo .sidebar .groupSd .line .form-group {
    margin-bottom: 10px;
}

.main .mainInfo .sidebar .groupSd .line .form-group .pull-left {
    font-weight: 300;
    font-size: 13px;
}

.main .mainInfo .sidebar .groupSd .line .form-group .pull-right strong {
    font-weight: normal;
}

#sidebarCroll .groupSd .bottomPrice price {
    color: #ff424e;
    font-size: 20px;
    font-weight: normal;
}

#sidebarCroll .groupSd .viewDetail {
    color: #1ba8ff;
    text-align: center;
}

#sidebarCroll .groupSd .viewDetail span {
    font-style: normal;
}

.main .mainInfo .betweenInfo .infoUser {
    border: 1px solid #1ba8ff;
    border-radius: 4px;
    background: #f2fbfe;
}

.main .mainInfo .betweenInfo .infoUser .username {
    color: #1ba8ff;
    font-size: 13px;
}

#popupPolicies.alert-warning {
    background: #fff;
    color: #333;
    font-size: 13px;
}

#dismissableInfo {
    border: 1px solid #1ba8ff;
    background: #f2fbfe;
    color: #1ba8ff;
    font-size: 13px;
}

.tooltipPolicy:before {
    color: #1ba8ff;
}

.main .mainInfo .betweenInfo .roomInfo {
    background: transparent;
    padding: 0;
}

.main .mainInfo .betweenInfo .roomInfo .heading h3 {
    font-size: 18px;
    color: #787878;
}

.main .mainInfo .betweenInfo .roomInfo .heading h3 span {
    font-size: 18px;
}

.main .mainInfo .betweenInfo .roomInfo .groupPb.showInputPp {
    background: #fff;
    padding: 15px;
    border-radius: 4px;
}

.main .mainInfo .betweenInfo .roomInfo .titleP {
    font-size: 11px;
    color: #4a4a4a;
    display: block;
    float: none;
}

.main .mainInfo .betweenInfo .roomInfo .lineForm {
    display: inline-block;
    width: 490px;
}

.chonlienhe {
    width: 210px;
    vertical-align: top;
    margin-top: 35px;
    float: right;
}

.chonlienhe .fa {
    color: #1ba8ff;
}

.main .mainInfo .betweenInfo .roomInfo .lineForm .groupInput {
    margin-bottom: 0;
    width: 50%;
}

.main .mainInfo .betweenInfo .roomInfo .lineForm .groupInput .form-text {
    width: 100%;
    border-radius: 3px;
    border: 1px solid #c7c7c7;
}


.main .mainInfo .betweenInfo .roomInfo .lineForm .groupInput span {
    display: none;
}

.main .mainInfo .betweenInfo .roomInfo .lineForm .groupInput label {
    margin-bottom: 8px;
}

.main .mainInfo .betweenInfo .roomInfo .groupPb {
    background: #fff;
    padding: 15px 15px 0;
    border-radius: 4px;
}

.main .mainInfo .betweenInfo .roomInfo.contactForm .lineForm .groupInput .form-text.form-text-custom-contact {
    width: 100%;
}

.clickShowCt .fa {
    color: #1ba8ff;
    font-size: 22px;
    display: inline-block;
    vertical-align: middle;
}

#contactInfo .groupInput {
    margin-bottom: 25px;
}

.main .mainInfo .betweenInfo .roomInfo .lineForm .groupInput .form-text:focus {
    border: 1px solid #1ba8ff;
}

.main .mainInfo .betweenInfo .roomInfo.invoice .heading {
    background: #fff;
    padding: 15px;
    border-radius: 4px;
}

.main .mainInfo .betweenInfo .roomInfo.invoice .heading:before {
    color: #242424;
    top: 18px;
}

.main .mainInfo .betweenInfo .roomInfo.invoice .btnDropdown {
    display: none;
}

.main .mainInfo .betweenInfo .roomInfo.invoice .mheading {
    font-weight: normal;
    font-size: 14px;
}

.main .mainInfo .betweenInfo .roomInfo.invoice .mheading >div {
    display: inline-block;
}

.main .mainInfo .betweenInfo .roomInfo.invoice .mheading .pull-right {
    float: none;
}

.main .mainInfo .betweenInfo .roomInfo.invoice .lineForm {
    margin-bottom: 20px;
}

.main .mainInfo .betweenInfo .roomInfo.invoice .lineForm .groupInput .form-text {
    border: 1px solid #c7c7c7;
}

.selectContactInvoice {
    margin-left: 120px;
}

.selectContactInvoice .fa {
    color: #1ba8ff;
}

.main .mainInfo .betweenInfo .roomInfo.invoice .lineForm .groupInput label {
    margin-top: 5px;
    font-size: 14px;
}

.contentRequirement ul {
    background: #fff;
    padding: 15px;
    border-radius: 4px;
}

.contentRequirement ul li {
    font-size: 13px;
}

.contentRequirement ul li a {
    color: #242424 !important;
    font-weight: normal !important;
}

.contentRequirement ul li:before {
    content: "";
    top: 7px;
    background: #f98015;
    width: 6px;
    height: 6px;
    border-radius: 50%;
}

.main .mainInfo .sidebar .groupSd .groupSd-s .line .greenb {
    color: #1ba8ff;
}

#sidebarCroll .priceSd price {
    color: #ff424e;
    font-size: 20px;
    font-weight: normal;
}

#sidebarCroll .groupSd .groupSd-s:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

.main .mainInfo .bottomBetween .pull-right {
    float: none;
}

.main .mainInfo .bottomBetween .btnSubmit {
    padding: 8px 100px;
    background: #ff424e;
}

.main .mainInfo .bottomBetween .btnSubmit:hover {
    background: #1ba8ff;
}

.popupReviewInfo .mainPopup .heading {
    background: #1ba8ff;
}

.footerPopup .selectAction {
    background: #1ba8ff;
}

.footerPopup .selectAction:hover {
    background: #ff424e;
}

/* Responsive */
@media screen and (max-width: 769px) {
    .main .receiptDT {
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.24), 0 0 1px 0 rgba(0, 0, 0, 0.12);
    }

    .main .receiptDT .groupIf .thumbnail {
        max-width: 90px;
        min-height: 64px;
    }

    .main .receiptDT .detailInfo {
        margin-left: 100px;
        min-height: 60px;
        margin-bottom: 20px;
    }

    .main .receiptDT .detailInfo h1 {
        font-weight: normal;
        font-size: 14px;
    }

    .ratingView {
        display: none;
    }

    .main .receiptDT .detailInfo h2 {
        color: #787878;
        font-size: 11px;
    }

    .main .receiptDT .groupIf .info table tr td {
        border: 1px solid #f2f2f2;
        padding: 15px;
    }

    .main .receiptDT .groupIf .info span {
        font-weight: normal;
    }

    .main .mainInfo .betweenInfo .roomInfo .lineForm {
        width: 100%;
    }

    .infoUser .username .fa {
        margin-right: 10px;
    }

    .main .mainInfo .betweenInfo .roomInfo {
        background: #fff;
    }

    .main .mainInfo .betweenInfo .roomInfo .heading {
        background: #eee;
        padding: 10px;
    }

    .main .mainInfo .betweenInfo .roomInfo .heading h3 {
        color: rgba(0, 0, 0, 0.87);
        font-size: 10px;
        margin-bottom: 0;
        text-transform: uppercase;
        font-weight: bold;
    }

    .main .mainInfo .betweenInfo .roomInfo .heading h3 span {
        font-size: 10px;
    }

    .main .mainInfo .betweenInfo .roomInfo .lineForm .groupInput {
        width: 100%;
        margin-bottom: 20px;
    }

    .main .mainInfo .betweenInfo .roomInfo .lineForm .groupInput .form-text {
        height: 32px;
    }

    .chonlienhe {
        float: none;
        margin-top: 0;
    }

    .main .mainInfo .betweenInfo .roomInfo.invoice .mheading {
        margin-top: 0;
    }

    .main .mainInfo .betweenInfo .roomInfo.invoice .mheading .pull-left {
        font-weight: bold;
    }

    .selectContactInvoice {
        margin: 10px 0 0;
    }

    .thxhdL, .thxhdR {
        margin: 0 0 5px;
    }

    .main .mainInfo .betweenInfo .roomInfo.invoice .lineForm .groupInput label {
        width: auto;
        display: block;
    }

    .main .mainInfo .betweenInfo .roomInfo.invoice .lineForm .groupInput .form-text-custom-contact {
        width: 100% !important;
    }

    .main .mainInfo .betweenInfo .roomInfo.invoice .lineForm {
        margin-bottom: 0;
    }

    .main .mainInfo .bottomBetween {
        text-align: center;
    }

    .main .mainInfo .betweenInfo .roomInfo.invoice .heading:before {
        top: 14px;
    }
}