/* Hotel Detail */
.main .home-title {
    display: none;
}

.main .roomPage .betweenDetail .tabbar {
    display: none;
}

.main .home-title {
    position: relative;
    top: 60px;
    background: #1ba8ff;
}

.main .subheader .formInput .group label {
    text-transform: capitalize;
}

.main .subheader .formInput .group input.form-text {
    border-radius: 3px;
}

.main .subheader .formInput .group.name_hotel #HotelCityNameSearch {
    width: 290px;
}

.main .subheader .formInput .group.name_hotel {
    padding-right: 10px;
}

.main .subheader .formInput .group.date input.form-text {
    width: 160px;
}

.main .subheader .formInput .group.btnSubmit #btnSearchHotel::before {
    display: none;
}

.main .subheader .formInput .group.btnSubmit #btnSearchHotel {
    background: #1ba8ff;
    width: 150px;
}

.main .betweenDetail .heading .container {
    background: #fff;
    max-width: 1110px;
    padding: 10px 15px 15px;
    border-radius: 4px;
}

.main .betweenDetail .heading {
    margin-bottom: 15px;
}

.main .betweenDetail .heading .leftHeading {
    margin-top: 15px;
}

.main .betweenDetail .heading .leftHeading h1 {
    font-weight: 300
}

.main .betweenDetail .heading .leftHeading h2 {
    text-decoration: none;
    font-weight: 300;
    font-size: 13px
}

.ratingViewImg {
    display: none !important;
}

.main .betweenDetail .heading .rightHeading .priceR span {
    margin: 5px 0;
}

.main .betweenDetail .heading .rightHeading .priceR span price {
    color: #ff424e;
    font-size: 20px;
    font-weight: normal;
}

.main .betweenDetail .heading .rightHeading .priceR .btnSetRoom {
    background: #ff424e;
    padding: 0 20px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
}

.main .betweenDetail .heading .rightHeading .priceR .btnSetRoom:hover {
    background: #1ba8ff;
}

.main .roomPage .subheader2 {
    padding: 0;
}

.main .betweenDetail .subheader2 .formInput .group label {
    color: #242424;
    text-transform: capitalize;
}

.main .betweenDetail .subheader2 .formInput .group {
    width: 210px;
    margin: 0;
}

.main .betweenDetail .subheader2 .formInput .group.date input.form-text {
    width: 190px;
    border-radius: 3px;
    border: 1px solid #c7c7c7;
}

.main .subheader2 .formInput .group.customInput .gr.selectNumbRoom .selectRoom {
    border: 1px solid #c7c7c7;
}

.main .betweenDetail .subheader2 .formInput .group.btnSubmit {
    top: auto;
    bottom: 20px;
    width: auto;
}

.main .betweenDetail .subheader2 .formInput .group.btnSubmit #btnSubmitSearchRoom {
    background: #1ba8ff;
}

.main .betweenDetail .subheader2 .formInput .group.btnSubmit #btnSubmitSearchRoom::before {
    display: none;
}

.main .betweenDetail .subheader2 .formInput .group.btnSubmit #btnSubmitSearchRoom:hover {
    background: #ff424e;
}

.main .betweenDetail .roomType .GroupRoomType .room_table .DetailRoom table.headingTb tr:first-child {
    background: #f4f4f4;
}

table.headingTb th:nth-child(2) {
    text-align: left;
}

table.headingTb th:nth-child(3) {
    text-align: right;
}

table.headingTb th {
    font-weight: bold;
}

.DetailRoom table.headingTb th, .DetailRoom table.headingTb td {
    border: none;
}

table.headingTb th, table.headingTb td {
    border: none;
}

.listRoomHotel {
    border-bottom: 2px solid #f8f8f8;
}

.listRoomHotel .descriptionLog {
    display: none !important;
}

.infoRoomDetail .thumbnail {
    max-width: none;
}

.viewAllPicture {
    text-decoration: none;
    padding: 0;
    margin: 5px 0 0;
}

.infoRoomDetail .detailRoom .nameRoom {
    font-size: 15px;
    color: #242424;
    margin-bottom: 8px;
    font-weight: normal;
}

.infoRoomDetail .detailRoom .firstTY:before {
    background: #787878;
}

.infoRoomDetail .detailRoom .firstTY strong {
    background: #787878;
    font-size: 13px;
    padding: 2px 15px;
    border-radius: 3px;
}

.infoRoomDetail .detailRoom ul li {
    font-size: 13px;
}

.viewDetailBtn .btnView span {
    color: #4a4a4a;
}

.priceR .nPromotion {
    display: none;
}

.priceR .priceOld {
    display: none;
}

.priceR span price {
    color: #ff424e;
    font-size: 20px;
    font-weight: normal;
}

.priceR .btnSetRoom {
    background: #ff424e;
    font-size: 13px;
}

.priceR .btnSetRoom:hover {
    background: #1ba8ff;
}

.priceR .numbRoomActive {
    color: #ff424e;
    font-size: 13px;
    font-weight: normal;
    margin-top: 5px;
}

.popupFormPrice {
    box-shadow: 0 1px 5px 0 rgba(99, 99, 99, 0.5);
    border-radius: 4px;
    border: none;
    padding: 15px;
    right: 105px;
}

.popupFormPrice:before {
    position: absolute;
    right: -9px;
    transform: rotate(45deg);
    top: 12px;
    color: #fff;
    width: 15px;
    height: 15px;
    box-shadow: 1px -1px 0px 0 #ddd;
    background: #fff;
}

.notePayment {
    color: #242424;
}

.notePayment strong {
    font-weight: normal;
}

.viewDetailBtn .btnView > .detail {
    border: none;
    padding: 15px;
    font-size: 13px;
    min-width: 360px;
}

.viewDetailBtn .detail:before {
    color: #1ba8ff;
    display: none;
}

.viewDetailBtn .detail:after {
    box-shadow: -1px -1px 1px 0 #ddd;
}

.main .betweenDetail .roomType .infoHotel .hdInfo h3 {
    font-size: 18px;
    margin: 0;
}

.main .betweenDetail .roomType .infoHotel .GroupInfo {
    background: #fff;
    border-bottom: 2px solid #f8f8f8;
    padding: 15px;
}

.main .betweenDetail .roomType .infoHotel .hdInfo {
    border-bottom: none;
    padding-bottom: 15px;
}

.modalPictureRoom .heading .close {
    color: #1ba8ff;
}

.lSSlideOuter .lSPager.lSGallery li.active, .lSSlideOuter .lSPager.lSGallery li:hover {
    border: 2px solid #1ba8ff;
}

.go-top {
    background: #1ba8ff;
}

.main .headingResponsive .btnChange.btnReSearch {
    background: #1ba8ff;
}

.main .headingResponsive .btnChange.btnReSearch:hover {
    background: #ff424e;
    color: #fff;
}

/* Responsive */
@media screen and (max-width: 767px) {

}
@media screen and (max-width: 769px) {
    .main .headingResponsive {
        background: #fff;
        padding: 10px 0;
        width: 100%;
        position: fixed;
        bottom: 0;
        z-index:999;
        box-shadow: 3px 3px 3px 3px #999;
        text-align: center;
        display: block;
    }

    .go-top {
        background: #1ba8ff;
        border-radius: 50%;
        bottom: 60px;
    }
    
    .go-top::before {
        content: "\f106";
    }
    
    .main .headingResponsive .btnChange.btnReSearch {
        background: transparent;
        color: rgba(0, 0, 0, 0.54);
        font-weight: normal;
        font-size: 14px;
        padding: 5px 15px;
        float: none;
        display: inline-block;
    }
    
    .main .headingResponsive .btnChange.btnReSearch::before {
        content: "\f0ec";
        font-family: FontAwesome;
        font-weight: bold;
        display: inline-block;
        margin-right: 5px;
    }

    .main .betweenDetail .subheader2 .formInput .group.btnSubmit::before {
        content: "\f002";
        font: normal normal normal 20px/1 FontAwesome;
        display: inline-block;
        position: absolute;
        left: 40%;
        top: 50%;
        transform: translate(0%, -50%);
        color: #fff;
    }

    .main .subheader2 {
        display: block;
        z-index: 1;
    }

    .main .betweenDetail .subheader2 .formInput .group.customInput {
        width: 100%;
    }

    .main .betweenDetail .tabbar {
        display: none;
    }

    .main .betweenDetail .heading .leftHeading span {
        display: none;
    }
    
    .main .betweenDetail .heading .leftHeading h1 {
        font-weight: normal;
    }
    
    .main .betweenDetail .heading .leftHeading h2 {
        font-size: 11px;
    }
    
    .main .betweenDetail .heading .pull-right {
        width: 100%;
    }
    
    .main .betweenDetail .heading .rightHeading {
        text-align: left;
    }

    .priceR {
        overflow: hidden;
    }
    
    .main .betweenDetail .heading .rightHeading .priceR span price {
        font-size: 16px;
    }
    
    .main .betweenDetail .heading .rightHeading .priceR .btnSetRoom {
        float: right;
        padding: 2px 20px;
    }
    
    .main .betweenDetail .subheader2 .formInput .group {
        width: 100%;
    }
    
    .main .betweenDetail .subheader2 .formInput .group.date input.form-text {
        width: 100%;
    }
    
    .main .betweenDetail .subheader2 .formInput .group.btnSubmit {
        width: 100%;
        bottom: 0;
        position: relative;
        right: 0;
    }


    .main .betweenDetail .subheader2 .formInput .group.btnSubmit #btnSubmitSearchRoom {
        background: #ff424e;
        width: 100%;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
    }
    
    .main .betweenDetail .roomType .GroupRoomType .room_table .DetailRoom table.headingTb th:first-child {
        background: #f2f2f2;
    }

    .table.headingTb {
        display: inline-block !important;
    }

    .DetailRoom table.headingTb th, .DetailRoom table.headingTb td {
        background: #fff;
    }
    
    .infoRoomDetail .detailRoom .nameRoom {
        font-weight: normal;
        font-size: 14px;
    }

    .mobilePrice price {
        color: #ff424e;
        font-weight: normal;
    }

    .viewDetailBtn .btnView > .detail {
        min-width: 260px;
    }

    .viewDetailBtn .btnView span {
        color: #1ba8ff;
    }

    #roomTypeG .DetailRoom .btnSetRoom {
        background: #ff424e !important;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
    }

    .infoRoomDetail .mobilePrice .priceOld,
    .infoRoomDetail .mobilePrice .priceOld price {
        color: rgba(0, 0, 0, 0.38);
    }

    .main .betweenDetail .roomType .infoHotel .GroupInfo .desInfo ul {
        list-style: none;
        padding: 0;
    }

    .main .betweenDetail .roomType .infoHotel .GroupInfo .desInfo ul li {
        position: relative;
        padding-left: 20px;
    }

    .main .betweenDetail .roomType .infoHotel .GroupInfo .desInfo ul li:before {
        content: "";
        background: #f98015;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        left: 0;
        top: 10px;
    }

    .main .betweenDetail .roomType .infoHotel .hdInfo {
        background: #f2f2f2;
        padding: 10px;
    }

    .main .betweenDetail .roomType .infoHotel .hdInfo h3 {
        font-size: 15px;
    }
}

@media screen and (max-width: 991px) {
    .main .subheader1 {
        padding: 15px 0;
    }
}