.main .home-page {
    background: url("https://www.gotadi.com/images/bg-search-booking-big.png") no-repeat 0 0;
    background-size: 100% 100%;
    height: 100%;
    padding: 100px 0;
}

.main .home-title {
    display: none;
}

.main .home-title h3 {
    font-weight: 300;
}

.main .home-title h3::before {
    display: none;
}

.main .home-body {
    padding: 20px;
}

.main .booking {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 0 0 4px 4px;
}

.main .home-page .booking {
    position: relative;
}

.main .home-page .booking::before {
    content: "ĐẶT PHÒNG KHÁCH SẠN";
    position: absolute;
    color: #fff;
    font-size: 17px;
    left: 0;
    top: 0;
    background: #1ba8ff;
    padding: 10px 0 10px 20px;
    width: 100%;
    border-radius: 4px 4px 0 0;
}

.main .home-page .booking .form-horizontal {
    padding-top: 40px;
}

.main .tab-content-between label {
    font-weight: normal;
}

.main .booking .tab-content-between .item-input .gr {
    margin-bottom: 10px;
    width: 32%;
}

.main .tab-content-between .item-input .gr.selectNumbRoom {
    width: 64%;
}

.main .tab-content-between .btn-search {
    text-align: left;
}

.main .tab-content-between .btn-search .button-search {
    background: #ff424e;
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 4px;
}

.main .tab-content-between .btn-search .button-search:hover {
    background: #1ba8ff;
}

.ui-datepicker td a:hover {
    background: #1ba8ff;
}

.form-control:focus {
    border-color: #1ba8ff;
}

.ui-autocomplete .ui-menu-item:hover {
    background: #1ba8ff;
}

.ui-menu .ui-menu-item a:hover, .ui-menu .ui-menu-item a:visited, .ui-menu .ui-menu-item a:focus, .ui-menu .ui-menu-item a:active {
    background: #1ba8ff !important;
}

.gr.selectNumbRoom .selectRoom {
    text-align: left;
    padding: 5px 0 5px 15px;
}

.popupSelectRoom {
    max-height: 400px;
}

.popupSelectRoom .listRoom .groupRoom .RoomNb, .popupSelectRoom2 .listRoom .groupRoom .RoomNb {
    font-weight: normal;
}

.popupSelectRoom .listRoom .groupRoom .item, .popupSelectRoom2 .listRoom .groupRoom .item {
    background: transparent;
}

.listRoom {
    margin-bottom: 0;
}

.popupSelectRoom .listRoom .groupRoom .item .typePP label, .popupSelectRoom2 .listRoom .groupRoom .item .typePP label {
    padding: 0;
    width: 95px;
    margin-top: 3px;
    font-weight: normal;
}

.popupSelectRoom .listRoom .groupRoom .item .typePP select, .popupSelectRoom2 .listRoom .groupRoom .item .typePP select {
    width: 61%;
    height: 32px;
    border-radius: 5px;
}

.addroomParent {
    width: 100%;
}

.popupSelectRoom .btnAddRooms, .popupSelectRoom2 .btnAddRooms {
    color: #1ba8ff;
    font-weight: 300;
}

.popupSelectRoom .listRoom .groupRoom .item, .popupSelectRoom2 .listRoom .groupRoom .item {
    padding: 0;
}

.popupSelectRoom .btnSubmit, .popupSelectRoom2 .btnSubmit2 {
    float: none;
    background: #ff424e;
    width: auto;
    display: inline-block;
    border-radius: 4px;
    font-weight: normal;
    padding: 10px 50px;
}

.popupSelectRoom .btnSubmit:hover, .popupSelectRoom2 .btnSubmit2:hover {
    background: #1ba8ff;
}

@media (min-width: 544px) {
    .main .home-title {
        max-width: 576px;
        margin: 0 auto;
        border-radius: 4px 4px 0 0;
    }
}

@media (min-width: 768px) {
    .main .home-title {
        max-width: 690px;
    }

    .main .tab-content-between {
        padding: 0;
    }
}

@media (min-width: 992px) {
    .main .home-title {
        max-width: 640px;
    }

    .main .booking {
        max-width: 640px;
        margin: 0 auto;
    }

    .betweenSearch .mapsForm {
        height: 700px;
    }
}

/* Responsive */
@media screen and (max-width: 769px) {
    .main .booking .form-booking .tab-contents .between .tab-between h4 {
        margin-bottom: 20px;
    }

    .main .booking .tab-content-between .item-input .gr {
        width: 100%;
    }

    .main .tab-content-between .item-input .gr.selectNumbRoom {
        width: 100%;
    }

    .popupSelectRoom, .popupSelectRoom2 {
        position: absolute !important;
    }

    .main .booking .form-booking .tab-contents.hotel .between .tab-content-between label {
        display: block;
        width: 100%;
        font-weight: normal;
    }

    .popupSelectRoom .listRoom .groupRoom .item .typePP select, .popupSelectRoom2 .listRoom .groupRoom .item .typePP select {
        width: 100%;
    }

    .popupSelectRoom .listRoom .groupRoom .RoomNb, .popupSelectRoom2 .listRoom .groupRoom .RoomNb {
        margin-bottom: 0;
    }

    .popupSelectRoom .btnAddRooms, .popupSelectRoom2 .btnAddRooms {
        padding: 0;
    }

    .popupSelectRoom .listRoom .groupRoom .selectNumbChild, .popupSelectRoom2 .listRoom .groupRoom .selectNumbChild {
        overflow: hidden;
    }

    .popupSelectRoom .btnSubmit, .popupSelectRoom2 .btnSubmit2 {
        border-radius: 4px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
    }

    .addroomParent {
        font-size: 14px;
    }

    .main .booking .form-booking .tab-contents .between .tab-content-between .btn-search {
        text-align: left;
    }

    .main .booking .form-booking .tab-contents .between .tab-content-between .btn-search .button-search {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
        padding: 6px 20px;
    }
}
