/* Search result */
.main .home-title {
    display: none;
}

.main .subheader .formInput .group label {
    text-transform: capitalize;
}

.main .subheader .formInput .group input.form-text {
    border-radius: 3px;
}

.main .subheader .formInput .group.name_hotel #HotelCityNameSearch {
    width: 290px;
}

.main .subheader .formInput .group.name_hotel {
    padding-right: 10px;
}

.main .subheader .formInput .group.date input.form-text {
    width: 160px;
}

.main .subheader .formInput .group.btnSubmit #btnSearchHotel::before {
    display: none;
}

.main .subheader .formInput .group.btnSubmit #btnSearchHotel {
    background: #1ba8ff;
    width: 150px;
}

.main .subheader .formInput .group.btnSubmit #btnSearchHotel:hover {
    background: #ff424e;
}

.main .betweenSearch .sidebar {
    background: #fff;
    padding: 15px;
    top: 0;
    border-radius: 4px;
}

.main .betweenSearch .remove-padding {
    padding: 0 15px !important;
}

.main .betweenSearch .container .col-lg-9::before {
    display: none;
}

.main .betweenSearch .mainSearch .heading {
    background: #fff;
    margin-bottom: 0;
    padding: 25px 15px 20px;
    border-radius: 4px
}


.main .betweenSearch .mainSearch .heading .line1 h1 {
    font-weight: 300;
}

.main .betweenSearch .mainSearch .heading .line1 h2 {
    font-size: 13px;
}

.main .betweenSearch .mainSearch .heading .line1 span {
    color: #787878;
    font-size: 22px;
    font-weight: 300;
}

.main .betweenSearch .mainSearch .heading .line1 span strong {
    font-weight: 300;
}

.betweenSearch .rightSearch .readMore {
    background: #1ba8ff;
}

.betweenSearch .rightSearch .readMore:hover {
    background: #ff424e;
}

.main .betweenSearch .mainSearch .heading .btnViewMap {
    top: 25px;
    right: 20px;
    border: 1px solid #1ba8ff;
    color: #1ba8ff;
    background: #fff;
    border-radius: 4px;
    padding: 10px 15px;
    height: auto;
}

.main .betweenSearch .mainSearch .heading .btnViewMap:hover {
    background: #fff;
    border-color: #ff424e;
    color: #ff424e;
}

.main .betweenSearch .mainSearch .heading .btnViewMap:before {
    background-color: #fff;
    width: auto;
    height: auto;
    position: static;
}

.main .betweenSearch .mainSearch .filterSearch .pull-right {
    float: left !important;
    background: #fff;
    width: 100%;
}

.main .betweenSearch .mainSearch .filterSearch .listFilter ul {
    margin: 0 0 25px 8px;
}

.main .betweenSearch .mainSearch .filterSearch .listFilter ul li {
    margin: 0 8px;
    border: 1px solid #c7c7c7;
    border-radius: 3px;
    min-width: 160px
}

.main .betweenSearch .mainSearch .filterSearch .listFilter ul li span {
    font-size: 14px;
}

.main .betweenSearch .sidebar .groupS:last-child {
    border-bottom: none;
}

.ratingView .starWidth:before {
    color: #ffca28;
}

.formFilter .ratingView:before {
    color: #ffca28;
}

.main .betweenSearch .mainSearch .listHotel .item .detail .leftDetail .info span red {
    color: #26bc4e;
}

.listHotel .item .detail .rightDetail .priceR .nPromotion {
    font-weight: 300;
    font-size: 13px;
    border-radius: 3px;
    padding: 4px 15px;
}

.main .mainSearch .listHotel .itemHotels .detail .leftDetail h3 {
    font-size: 15px;
}

.main .mainSearch .listHotel .itemHotels .detail .leftDetail h3 a {
    display: inline-block;
}

.main .betweenSearch .mainSearch .listHotel .itemHotels .detail .rightDetail .priceR span.price0ld price {
    color: #999;
    font-size: 15px;
    font-weight: normal;
}

.main .betweenSearch .mainSearch .listHotel .itemHotels .detail .rightDetail .priceR span price {
    font-weight: normal;
    font-size: 20px;
    color: #ff424e;
}

.main .betweenSearch .mainSearch .listHotel .itemHotels .detail .rightDetail .priceR span {
    margin: 5px 0;
}


.main .betweenSearch .mainSearch .listHotel .itemHotels .detail .rightDetail .priceR .btnSetRoom {
    background: #ff424e;
    text-transform: capitalize;
    padding: 0 20px;
}

.main .betweenSearch .mainSearch .listHotel .itemHotels .detail .rightDetail .priceR .btnSetRoom:hover {
    background: #1ba8ff;
}

.main .betweenSearch .mainSearch .listHotel .itemHotels .detail .leftDetail {
    border-right: none;
}

.main .betweenSearch .mainSearch .listHotel .hotelActive::after {
    font-weight: normal ;
}

.main .betweenSearch .mainSearch .listHotel .itemHotels .detail .leftDetail .info .numbRoom {
    font-weight: normal;
    color: #ff424e;
    font-size: 14px;
}

.main .mainSearch .listHotel .itemHotels .detail .leftDetail .info span red {
    color: #22b75a;
}

.main .mainSearch .listHotel .itemHotels .detail .leftDetail .info span:first-child {
    display: block;
    margin: 5px 0;
}

.main .mainSearch .listHotel .itemHotels .detail .rightDetail .priceR span.priceOld price {
    color: #999;
    font-size: 15px;
}

.priceR .nPromotion {
    font-weight: 300;
    font-size: 13px;
    border-radius: 3px;
    padding: 4px 15px;
}

.betweenSearch .readMore {
    background: #1ba8ff;
    font-weight: normal;
}

.betweenSearch .readMore:hover {
    background: #ff424e;
}

/* Responsive */
@media screen and (max-width: 769px) {
    .main .headingResponsive {
        background: #fff;
        padding: 10px 0;
        width: 100%;
        position: fixed;
        bottom: 0;
        z-index:999;
        box-shadow: 3px 3px 3px 3px #999;
    }
    
    .go-top {
        background: #1ba8ff;
        border-radius: 50%;
        bottom: 60px;
    }
    
    .go-top::before {
        content: "\f106";
    }

    .ssm-overlay {
        background: transparent;
    }
    
    .main .headingResponsive .btnChange.btnReSearch {
        background: transparent;
        color: rgba(0, 0, 0, 0.54);
        font-weight: normal;
        border-left: 1px solid #f2f2f2;
        border-right: 1px solid #f2f2f2;
        font-size: 14px;
        padding: 5px 15px;
    }
    
    .main .headingResponsive .btnChange.btnReSearch::before {
        content: "\f0ec";
        font-family: FontAwesome;
        font-weight: bold;
        display: inline-block;
        margin-right: 5px;
    }

    .main .headingResponsive .btnChange.btnReSearch:hover {
        background: transparent;
    }
    
    .main .headingResponsive .btnChange.btnBoloc {
        background: transparent;
        color: rgba(0, 0, 0, 0.54);
        font-weight: normal;
        font-size: 14px;
    }

    .main .headingResponsive .btnChange.btnBoloc::before {
        content: "\f0b0";
        font-family: FontAwesome;
        font-size: 14px;
        display: inline-block;
        margin-right: 5px;
    }

    .main .headingResponsive .btnChange.btnBoloc:hover {
        background: transparent;
    }
    
    .main .betweenSearch .mainSearch .heading {
        border-radius: 0;
    }
    
    .main .betweenSearch .mainSearch .heading .line1 span {
        font-size: 14px;
    }
    
    .main .betweenSearch .mainSearch .heading .line1 h1 {
        font-weight: normal;
        font-size: 14px;
    }
    
    .main .betweenSearch .mainSearch .heading .line1 span {
        color: rgba(0, 0, 0, 0.87);
        font-weight: normal;
    }
    
    .main .betweenSearch .mainSearch .heading .btnViewMap {
        display: none;
    }
    
    .main .betweenSearch .mainSearch .filterSearch .pull-right {
        background: transparent;
    }
    
    .main .betweenSearch .mainSearch .filterSearch {
        margin-bottom: 20px;
    }
    
    .main .betweenSearch .mainSearch .filterSearch .listFilter ul {
        display: flex;
        margin: 10px 0 0;
        width: 100%;
    }
    
    .main .betweenSearch .mainSearch .filterSearch .listFilter ul li {
        margin: 0;
        width: 34%;
        min-width: 0;
        padding: 5px 0;
        border-radius: 0;
        border: none;
        float: none;
    }
    
    .main .betweenSearch .mainSearch .filterSearch .listFilter ul li.active {
        background: #1ba8ff;
        color: #fff;
    }
    
    .main .betweenSearch .mainSearch .listHotel .item .detail .rightDetail .priceR .btnSetRoom {
        display: none;
    }
    
    .main .betweenSearch .mainSearch .listHotel .item {
        padding: 12px;
        box-shadow: inset 0 -1px 0 0 #f2f2f2;
        border-radius: 0;
    }
    
    .main .betweenSearch .mainSearch .listHotel .item .thumbnail #getHotelCode {
        border-radius: 0;
    }
    
    .main .betweenSearch .mainSearch .listHotel .item .detail .leftDetail .location {
        font-size: 11px;
    }
    
    .main .betweenSearch .mainSearch .listHotel .item .detail .leftDetail .info span {
        font-size: 11px;
    }
    
    .main .betweenSearch .mainSearch .listHotel .item .detail .rightDetail .priceR .priceOld {
        display: none;
    }
    
    .main .betweenSearch .mainSearch .listHotel .item .detail .rightDetail .priceR span price {
        font-size: 16px;
    }

    .main .subheader .formInput .group.name_hotel input.form-text,
    .main .subheader .formInput .group.customInput,
    .main .subheader .formInput .group.date input.form-text {
        width: 100%;
    }

    
}