@media only screen and (min-width: 320px) and (max-width: 768px) {
    #ui-datepicker-div {
        width: 90% !important;
        left: 20px !important;
        height: auto !important;
        position: absolute !important;
    }

    .btnViewMap {
        display: inline-block;
        vertical-align: middle;
        background-color: #1ba8ff;
        margin-right: 5px;
    }

    .betweenSearch .mapsForm {
        height: 600px;
    }

    #btnSelectRoom {
        display: none;
    }

    .main .mainSearch .listHotel .itemHotels .detail .leftDetail h3 a {
        display: block;
    }

    .ratingView {
        display: inline-block;
    }

    .viewDetailBtn .btnView > .detail {
        left: -100%;
    }

    .viewDetailBtn .detail:after {
        right: 30%;
    }

    #roomTypeG .detailRoom .btnSetRoom {
        background: #ff424e;
        padding: 5px 16px;
    }

    .main .betweenDetail .subheader2 .formInput .group {
        margin-bottom: 10px;
    }

    .listRoomHotel {
        background: #fff;
    }

    #btnPaymentLater {
        display: none;
    }

    .ratingViewImg {
        display: block !important;
        margin: 0 0 0 20px !important;
    }

    .betweenSearch .readMore {
        margin-bottom: 50px;
    }

    .ssm-overlay {
        background: rgba(0, 0, 0, 0.2);
        z-index: 99;
    }

    .main .mainSearch .listHotel .itemHotels .detail .leftDetail .info span:before {
        display: none;
        margin-left: 0;
        padding-left: 0;
    }

    .getAvailability-page .subheader {
        position: fixed;
        z-index: 999999;
    }

    .main .home-page {
        background-size: auto 100%;
        padding: 0;
    }

    .itemHotels .detail .leftDetail .info span:first-child {
        border-right: none;
        display: none;
    }

    .main .headingResponsive {
        bottom: auto;
        top: 0;
        position: static;
        box-shadow: none;
        display: flex;
        justify-content: center;
    }

    .main .headingResponsive .btnChange.btnBoloc {
        width: 80px;
        padding: 0;
    }

    .main .headingResponsive .btnChange.btnReSearch {
        padding: 5px;
    }

    .main .betweenSearch .mainSearch .filterSearch .listFilter ul li {
        width: 33%;
    }

    .notePayment {
        display: none;
    }

    .main .mainSearch .listHotel .itemHotels .detail .leftDetail .info span:first-child {
        display: none;
    }

    .main .betweenDetail .subheader2 .formInput .group.btnSubmit::before {
        font: normal normal normal 16px/1 FontAwesome;
        left: 38%;
    }

    .main .betweenDetail .subheader2 .formInput .group.btnSubmit #btnSubmitSearchRoom {
        font-size: 15px;
    }

    .infoRoomDetail .thumbnail {
        width: 140px;
    }

    .main .receiptDT .groupIf .thumbnail {
        position: absolute;
        top: 20px;
    }

    .main .betweenSearch .mainSearch .listHotel .itemHotels .detail .rightDetail .priceR span {
        display: block;
    }
}

@media (min-width: 992px) {
    .popupSelectRoom, .popupSelectRoom2 {
        max-height: 380px;
        padding: 20px 20px 0;
    }

    .popupSelectRoom .btnSubmit, .popupSelectRoom2 .btnSubmit2 {
        margin-bottom: 20px;
    }

    .itemHotels .detail .leftDetail .info span:first-child {
        border-right: none;
        display: none;
    }

    #btnPaymentLater {
        display: none;
    }

    .main .mainSearch .listHotel .itemHotels .detail .leftDetail .info span {
        margin-left: 0;
        padding-left: 0;
    }

    .main .mainSearch .listHotel .itemHotels .detail .leftDetail .info span:first-child {
        display: none;
    }
}

@media (min-width: 1200px) {
    .main .mainSearch .listHotel .itemHotels .detail .leftDetail .info span:before {
        display: none;
        margin-left: 0;
        padding-left: 0;
    }

    .itemHotels .detail .leftDetail .info span {
        margin-left: 0;
        padding-left: 0;
    }

    .popupSelectRoom .listRoom .groupRoom .item .typePP select, .popupSelectRoom2 .listRoom .groupRoom .item .typePP select {
        padding: 4px 12px 6px;
    }

    .betweenSearch .modalMaps {
        height: 700px;
    }

    .infoRoomDetail .detailRoom ul {
        display: block !important;
    }

    .listRoomHotel .descriptionLog {
        display: block !important;
    }

    .ratingViewImg {
        display: block !important;
        margin: 0 0 0 20px !important;
        padding: 0 !important;
    }

    .notePayment {
        color: #ff424e;
        display: none;
    }

    .notePayment strong {
        font-weight: bold !important;
    }

    .listRoomHotel td {
        position: relative !important;
    }

    .modalPictureRoom {
        position: absolute !important;
        top: 0 !important;
    }

    .priceR .priceOld {
        display: block;
    }
}